.header__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 10px;
}
@media (min-width: 577px) {
  .header__wrapper {
    padding-bottom: 15px;
  }
}
@media (min-width: 1025px) {
  .header__wrapper {
    padding: 42px 20px 29px;
  }
}

.header__wrapper::after {
  content: '';
  position: absolute;
  top: 58px;
  left: 20px;
  right: 20px;
  height: 1px;
  background: #e7e7f2;
  opacity: .4;
}
@media (min-width: 577px) {
  .header__wrapper::after {
    top: 99px;
  }
}
@media (min-width: 1025px) {
  .header__wrapper::after {
    top: 101px;
  }
}

.menu {
  position: relative;
  order: 1;
}
@media (min-width: 577px) {
  .menu {
    order: 2;
  }
}
@media (min-width: 1025px) {
  .menu {
    order: 1;
  }
}

.menu__btn {
  height: 24px;
  width: 24px;
  background: url('../img/menu.svg') center center no-repeat;
  background-size: contain;
  transition: opacity 150ms, transform 150ms;
}
@media (min-width: 577px) {
  .menu__btn {
    display: none;
  }
}

.menu__btn:active {
  opacity: .5;
}

.menu__btn--active {
  background: url('../img/close.svg') center center no-repeat;
  background-size: contain;
}

.menu__list {
  position: absolute;
  display: none;
}
@media (min-width: 577px) {
  .menu__list {
    position: relative;
    display: flex;
  }
}

.logo {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  order: 2;
  font-weight: 900;
  letter-spacing: 0.01em;
  font-size: 16px;
  user-select: none;
}
@media (min-width: 577px) {
  .logo {
    width: 100%;
    order: 1;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
  }
}
@media (min-width: 1025px) {
  .logo {
    width: auto;
    margin: 0 auto;
    order: 2;
    font-size: 24px;
  }
}

.auth {
  position: absolute;
  display: none;
}
@media (min-width: 577px) {
  .auth {
    position: relative;
    display: flex;
    order: 3;
  }
}
@media (min-width: 1025px) {
  .auth {
    margin-right: 82px;
  }
}

.search-btn {
  position: relative;
  width: 20px;
  height: 20px;
  display: block;
  order: 3;
  background: url('../img/search.svg') no-repeat;
  background-size: contain;
  transition: opacity 150ms, transform 150ms;
}
@media (min-width: 577px) {
  .search-btn {
    order: 4;
  }
}

.search-btn:active {
  opacity: .5;
}
@media (min-width: 1025px) {
  .search-btn:hover {
    transform: scale(1.2);
  }
}