@import 'main.css';
@import 'header.css';
@import 'title.css';
@import 'next.css';
@import 'form.css';

@font-face {
  font-family: 'SF Pro';
  src: url('../font/SF Pro text Regular.woff');
  src: url('../font/SF Pro text Regular.woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'SF Pro';
  src: url('../font/SFProDisplay-Semibold.woff');
  src: url('../font/SFProDisplay-Semibold.woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'SF Pro';
  src: url('../font/SF Pro text Bold.woff');
  src: url('../font/SF Pro text Bold.woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'SF Pro';
  src: url('../font/SFProDisplay-Black.woff');
  src: url('../font/SFProDisplay-Black.woff2');
  font-weight: 900;
}