.comments {
  position: relative;
  min-height: 200px;
  padding: 50px;
  margin-top: 20px;
  background: #fff;
  border-radius: 20px;
}

.comments__title {
  margin: 0 0 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}

.comments__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 30px;
  list-style: none;
}

.comments__item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 10px;
  background-color: inherit;
  transition: background-color 200ms;
}

.comments__item:hover {
  background-color: #f6f6ff;
}

.comments__item:not(:last-child) {
  margin-bottom: 10px;
}

.comments__nothing {
  padding: 10px;
  font-style: italic;
  color: #333;
}

.comments__user {
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #000;
}

.comments__name {
  margin: 0 0 10px
}

.comments__text {
  margin: 0;
  padding: 10px 90px 10px 0;
}

.comments__actions {
  display: flex;
  justify-content: flex-end;
}

.comments__del {
  visibility: hidden;
  padding: 0;
  font-size: 14px;
  font-style: italic;
  color: transparent;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid transparent;
  outline: none;
  transition: border-bottom-color 200ms, color 200ms;
  cursor: pointer;
}

.comments__del::before {
  content: '\2718';
  margin-right: 5px;
  font-size: inherit;
  color: inherit;
}

.comments__del:hover {
  border-bottom-color: currentColor;
}

.comments__del:active {
  color: #33b;
}

.comments__del--active {
  visibility: visible;
  color: #000;
}